@{
    ViewBag.Title = "How to Correct Errors in your VAT Return?";
    ViewBag.Keyword = "how to correct errors in your vat return, what is a vat error, how to correct a vat error, how to submit a voluntary disclosure";
    ViewBag.Description = "As humans, it is inherent for us to make mistakes – be it committing a small error or getting lost on how things should be done. The same thing might happen while preparing VAT returns.";
    ViewBag.PageURL = "https://amca.ae/how-to-correct-errors-in-your-vat-return";
    ViewBag.ImageURL = "https://amca.ae/wimages/how-to-correct-errors-in-your-vat-return.jpg";
}

<div class="row otherBanner aboutUs">
    <div class="container">
        <div class="col-md-12">
            <div class="captionBanner">
                <div class="servicesH">Insights</div>
                <ul>
                    <li><a href="@Url.Action("Index", "Page")">Home</a> </li>
                    <li><a href="@Url.Action("Insights", "Page")">Insights</a> </li>
                    <li>@ViewBag.Title</li>
                </ul>
            </div>
        </div> <!-- end of col-md-12 -->
    </div>
</div> <!-- end of row -->
<div class="row space">
    <div class="container">
        <div class="col-md-12">
            <div class="row mobileOrder">
                @RenderPage("~/Views/Sidebar/BlogSidebar.cshtml")
                <div class="col-md-8 contentOr">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/wimages/how-to-correct-errors-in-your-vat-return.jpg" class="img-responsive" title="How to Correct Errors in your VAT Return?" alt="How to Correct Errors in your VAT Return?" />
                        </div>
                    </div>
                    <div class="row space3">
                        <div class="col-md-12">
                            <h1>@ViewBag.Title</h1>
                            <p>As humans, it is inherent for us to make mistakes – be it committing a small error or getting lost on how things should be done. The same thing might happen while preparing VAT returns. It is essential that the return being prepared is compliant with the relevant VAT laws and regulations. These laws and regulations are occasionally being misinterpreted or sometimes, small mathematical errors and omissions are being committed. There are some cases too that because of insufficient knowledge of these laws and regulations, a person might be making a grave mistake while preparing the VAT returns. However, these are not valid excuses. The value of these errors will be the determining factor on how you can correct these errors.</p>

                            <h2>What is a VAT Error?</h2>
                            <p>As per the FTA, a VAT error (“tax error”) occurs when a taxable person does not charge and account for the correct amount of output VAT or does not recover the correct amount of input VAT. This applies irrespective of whether a taxpayer has overpaid or underpaid the amount of tax due to the FTA.</p>

                            <h2>How to Correct a VAT Error?</h2>
                            <p>A Taxpayer needs to check first how much is the effect of the error or omission made to ascertain the approach that he can or should use to correct his VAT error.</p>
                            <ul>
                                <li>If the <strong><u>value of the error is AED 10,000 or less</u></strong> – you should correct the error through the VAT return for the period in which the error is discovered. You can just reflect and correct the error while submitting the VAT return. For example, you mistakenly reported wrong amount of a sales invoice last quarter. The correct amount of output VAT is AED 5,000 but you reported AED 500. The difference in the amount of output VAT that was not declared (AED 4,500) can be included on the VAT return on this quarter and report it to the FTA.</li>
                                <li>If the <strong><u>value of the error is more than AED 10,000</u></strong> – in this case, you need to submit a voluntary disclosure to the FTA within 20 business days of becoming aware of the error. Voluntary Disclosure is a form provided by the FTA in which a Taxpayer can notify of an error or omission that was made in a Tax return.</li>
                            </ul>

                            <h2>How to Submit a Voluntary Disclosure?</h2>
                            <p>Voluntary disclosure form is available in your tax portal. Just simply go to <em>VAT201 – VAT Returns and click on the Submit Voluntary Disclosure.</em> Once done, the system will show the details of the Taxable Person. I advise to seek help from Registered Tax Agents to ensure that the process and the Voluntary Disclosure will be accurate. They can also assist you for further supporting documentation that the FTA requires. We do not want to commit the same mistake twice, right?</p>

                            <h2>Is there a Penalty in Correcting these Errors?</h2>
                            <p>Unfortunately, if you are required to submit a Voluntary Disclosure, administrative penalties are highly to be imposed. </p>
                            <p>As per Cabinet Resolution No. (40) of 2017 on Administrative Penalties for Violations of Tax Laws in the UAE, Table 1, two penalties are being applied: </p>

                            <ol>
                                <li>
                                    <strong>Fixed penalty of:</strong>
                                    <ul>
                                        <li>3,000 AED for the first time.</li>
                                        <li>5,000 AED in case of repetition</li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>Percentage based penalty shall be applied on the amount unpaid to the Authority due to the error and resulting in a tax benefit as follows:</strong>
                                    <ul>
                                        <li>(50%) if the Person/Taxpayer makes a voluntary disclosure after being notified of the tax audit and the Authority starting the tax audit or after being asked for information relating to the tax audit, whichever takes place first.</li>
                                        <li>(30%) if the Person/Taxpayer makes the voluntary disclosure after being notified of the tax audit but before the start of the tax audit. </li>
                                        <li>(5%) if the Person/Taxpayer makes voluntary disclosure before being notified of the tax audit by the Authority</li>
                                    </ul>
                                </li>
                            </ol>

                            <h2>The Takeaway</h2>
                            <p>If you are correcting the error or omission through VAT return, I advise to keep proper workings, especially the reconciliation of the VAT being reported. In case that the company will be subject to VAT audit, you can just easily present the figures to the auditor in charged and to avoid further misunderstanding. </p>
                            <p>In case of correcting the error through Voluntary Disclosure, I advise for you not to hesitate to correct it as soon as you discovered the error. Contact a registered tax agent and discuss the situation so they can further advise you regarding your case. </p>
                        </div>
                        <div class="col-md-12 writer text-right">
                            <p class="date">23 Apr 2020</p>
                            <h4><strong>Alyssa Marie Pamiloza</strong></h4>
                            <p>Certified Public Accountant</p>
                        </div>
                        <div class="col-md-12">
                            <div class="fb-share-button" data-href="https://amca.ae/how-to-correct-errors-in-your-vat-return" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Famca.ae%2Fhow-to-correct-errors-in-your-vat-return&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                            <script type="IN/Share" data-url="https://amca.ae/how-to-correct-errors-in-your-vat-return">
                            </script>
                        </div>
                        @RenderPage("~/Views/Sidebar/BlogComment.cshtml")
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
