@{
    ViewBag.Title = "DMCC Audit Report Deadline 2020";
    ViewBag.Keyword = "dmcc audit report submission, dmcc portal, audit report, dmcc audit, annual report, dmcc approved auditors, dmcc member portal, audit report of a company";
    ViewBag.Description = "Dubai Multi Commodities Centre (DMCC) had extended the submission of the Audited Financial Statement (AFS) with financial year-end date 31st of December 2019 on the 26th of September 2020.";
    ViewBag.PageURL = "https://amca.ae/dmcc-audit-report-deadline-2020";
    ViewBag.ImageURL = "https://amca.ae/wimages/dmcc-audit-report-deadline-2020.jpg";
}
<div class="row otherBanner aboutUs">
    <div class="container">
        <div class="col-md-12">
            <div class="captionBanner">
                <div class="servicesH">Insights</div>
                <ul>
                    <li><a href="@Url.Action("Index", "Page")">Home</a> </li>
                    <li><a href="@Url.Action("Insights", "Page")">Insights</a> </li>
                    <li>@ViewBag.Title</li>
                </ul>
            </div>
        </div> <!-- end of col-md-12 -->
    </div>
</div> <!-- end of row -->
<div class="row space">
    <div class="container">
        <div class="col-md-12">
            <div class="row mobileOrder">
                @RenderPage("~/Views/Sidebar/BlogSidebar.cshtml")
                <div class="col-md-8 contentOr">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/wimages/dmcc-audit-report-deadline-2020.jpg" class="img-responsive" title="@ViewBag.Title" alt="@ViewBag.Title" />
                        </div>
                    </div>
                    <div class="row space3">
                        <div class="col-md-12 linkingText">
                            <h1>@ViewBag.Title</h1>
                            <p><strong>Avoid the DMCC Portal sanctions and submit your AFS on or before 26th of September</strong></p>
                            

                            <h2><strong>Don’t Miss your Deadline!</strong></h2>
                            <p><strong>Dubai Multi Commodities Centre (DMCC) had extended the submission of the Audited Financial Statement (AFS) with financial year-end date 31st of December 2019 on the 26th of September 2020.</strong></p>

                            <p>Yes, you heard it right! You still have time to file all the relevant documents for your <strong>Audit Report</strong> until the mentioned date above. Be sure to comply with the <strong>DMCC Audit Report submission</strong> to avoid the DMCC portal sanctions. </p>

                            <p>Failure to submit the said AFS by this date would be incurred with a sanction on <strong>DMCC member portal</strong> account, and therefore may not be able to submit any form of request including renewal of license until AFS has been submitted. </p>

                            <p>You can rely on the assistance from the Approved Auditors in complying with the DMCC Free Zones rules and regulations. </p>

                            <h2><strong>Role of Member Companies </strong></h2>

                            <p>According to the DMCC Approved Auditors Rules, Audit Report, known as AFS, must be submitted by a Member Company. In relation to this, the Member Company should appoint an Approved Auditor to examine their annual accounts and do their annual report. It is responsibility of the Member Company to ensure that the Audit Firm whom it engages to prepare <strong>Audit Report</strong> for an AFS is an Approved Auditor. </p>

                            <h2><strong>Role of Approved Auditor </strong></h2>
                            <p>According to the DMCC Approved Auditors Rules, under the Roles of the Approved Auditor, it is clearly stated that an Approved Auditor ought to be accountable every time, for compliance by the Audit Firm with DMCC Rules. In accordance with Section 11 under the DMCC Rules, which states about the change of audit firm details, the completion of the Auditor’s Report ought to be the responsibility of an Approved Auditor. They covered all the step-by-step procedures likewise the processing of the relevant documents necessary and mandatory in completing the <strong>Audit Report of a company.</strong></p>

                            <p>Aside from this, it is also in the hands of the Approved Auditor to provide a reasonable assurance that the annual accounts prepared by the Member Company are accurate, free from material misstatements, either due to fraud or error and are properly prepared in accordance with the International Financial Reporting Standards. </p>
                            <p>Using the principles mentioned by the DMCC Authority, an Approved Auditor must conduct itself in accordance with <strong>integrity, due skill care and diligence</strong> (including professional competence), <strong>objectivity, confidentiality</strong> and <strong>cooperation with the DMCCA.</strong></p>


                            <h2><strong>AMCA, your DMCC Approved Auditor</strong></h2>

                            <p>As <strong>DMCC Approved Auditors,</strong> AMCA ensures that DMCC member companies abide all the DMCC Free Zone’s rules and regulations. With our assistance, we guarantee you that the audit for your companies is satisfactorily completed and correctly submitted by 26th of September 2020.</p>

                            <p>We are <strong>registered with the Ministry of Economy</strong> to operate as a <strong>licensed auditor in the United Arab Emirates (UAE).</strong> Also, we are listed and approved in all major free zones and mainland authorities. </p>

                            <p>We are ready to be of assistance to you! Feel free to let us know if you also require any further information on the below requirements:</p>

                            <ul>
                                <li>Audit Report</li>
                                <li>Accounting & Bookkeeping</li>
                                <li>VAT Registration</li>
                                <li>VAT Return Filing</li>
                                <li>VAT Reconsideration</li>
                                <li>TAX Consulting</li>
                                <li>Advisory Services</li>
                                <li>Liquidation/De-Registration</li>
                                <li>Economic Substance Regulation (ESR)</li>
                            </ul>
                        </div>
                        <div class="col-md-12 writer text-right">
                            <p class="date">24 Sep 2020</p>
                            <h4><strong>Mohammad Sharique Nadeem</strong></h4>
                            <p>Business Analyst</p>
                        </div>
                        <div class="col-md-12">
                            <div class="fb-share-button" data-href="https://amca.ae/dmcc-audit-report-deadline-2020" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Famca.ae%2Fdmcc-audit-report-deadline-2020&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                            <script type="IN/Share" data-url="https://amca.ae/dmcc-audit-report-deadline-2020">
                            </script>
                        </div>
                        @RenderPage("~/Views/Sidebar/BlogComment.cshtml")
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
