@{
    ViewBag.Title = "Economic Substance Filing Date Extended | ESR Regulations";
    ViewBag.PageTitle = "Economic Substance Filing Date Extended to 31 January 2021";
    ViewBag.Keyword = "economic substance regulations, esr relevant activities, relevant activities, economic substance, economic substance report, esr regulations, esr notification, esr report, esr filing, esr report, esr requirements, ministry of finance, cabinet of ministers, esr deadline, filing deadline/s, penalt(ies), notification, reports, tax, organization for economic cooperation and development, esr notification filing";
    ViewBag.Description = "Last year, the Ministry of Finance announced the submission of the ESR Notifications and Reports by the end of the year, December 31, 2020. The companies and certain business forms in the UAE which are carrying a Relevant Activity";
    ViewBag.PageURL = "https://amca.ae/economic-substance-filing-date-extended-to-31-january-2021";
    ViewBag.ImageURL = "https://amca.ae/wimages/economic-substance-filing-date-extended-to-31-january-2021.jpg";
}
@section AdditionalMeta{
    <meta property='og:title' content="@ViewBag.Title" />
    <meta property='og:url' content="@ViewBag.PageURL" />
    <meta property='og:type' content='website' />
    <meta property='og:description' content="@ViewBag.Description" />
    <meta property="og:image" content="@ViewBag.ImageURL" />
    <meta property="fb:page_id" content="3058581424174487" />
}
@model amca.Models.Validation
<div class="row otherBanner aboutUs">
    <div class="container">
        <div class="col-md-12">
            <div class="captionBanner">
                <div class="servicesH">Insights</div>
                <ul>
                    <li><a href="@Url.Action("Index", "Page")">Home</a> </li>
                    <li><a href="@Url.Action("Insights", "Page")">Insights</a> </li>
                    <li>@ViewBag.PageTitle</li>
                </ul>
            </div>
        </div> <!-- end of col-md-12 -->
    </div>
</div> <!-- end of row -->
<div class="row space">
    <div class="container">
        <div class="col-md-12">
            <div class="row mobileOrder">
                @RenderPage("~/Views/Sidebar/BlogSidebar.cshtml")
                <div class="col-md-9 contentOr">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/wimages/economic-substance-filing-date-extended-to-31-january-2021.jpg" class="img-responsive" title="@ViewBag.PageTitle" alt="@ViewBag.PageTitle" />
                        </div>
                    </div>
                    <div class="row space3">
                        <div class="col-md-12">
                            <h1>@ViewBag.PageTitle</h1>
                            <p>Last year, the Ministry of Finance announced the submission of the ESR Notifications and Reports by the end of the year, December 31, 2020. The companies and certain business forms in the UAE which are carrying a Relevant Activity are required to comply with the submission of the ESR Requirements. </p>
                            <p>And to support businesses that may have been impacted by COVID-19 and temporary inaccessibility of the MoF Economic Substance Filing Portal, the Ministry of Finance has one-off extension of the deadline to submit the Notification and Economic Substance Report until 31 January 2021 only. </p>
                            <p>Meaning to say, all the applicable companies which have failed to submit their ESR Notifications and ES Reports are still given the ample time to submit these before they are charged with penalties. This ESR filing cutoff time of the organizations having a 2019 Reportable Period and organizations having a 2020 Reportable Period which are basically mandated to file their Notification by 31 December 2020 is an exceptional extension as there will be no further extensions to be granted after this. Therefore, businesses should bend over backward to record as quickly as time permits and not wait until the end of the extended ESR deadline. </p>

                            <h3><strong>The Background and the Regulation</strong></h3>
                            <p>The Economic Substance Regulations, which is otherwise called “ESR” was officially introduced to the United Arab Emirates through Cabinet of Minister Resolution No. (31) of 2019, on 30th of April 2019.  The previously mentioned regulation intends to combat harmful tax practices while complying with the global standards. Correspondingly, the Ministry of Finance presented the “Relevant Activities” which has a significant function in complying with the Economic Substance Regulation. </p>
                            <p>The ESR Regulations are issued as per the worldwide standard set by the Organization for Economic Cooperation and Development (“OECD”) Forum on Harmful Tax Practices, which requires entities undertaking geographically mobile business activities to have substantial activities in a jurisdiction. </p>
                            <p>In addition to the work of the OECD, the European Union Code of Conduct Group (“EU COCG”) likewise embraced a resolution on a code of conduct for business taxation which plans to control harmful tax practices.  </p>
                            <p>The Cabinet of Ministers sanctioned the ESR Regulations considering the pertinent guidelines created by the OECD and the EU COCG.</p>
                            <p><strong>The Revised Filing Deadlines for the 2019 Reportable Period are as per the following:</strong></p>
                            <ul>
                                <li><strong>Notification:</strong> The later of six months after the financial year end, or 31 January 2021.</li>
                                <li><strong>Economic Substance Report: </strong>The later of 12 months after the financial year end, or 31 January 2021. </li>
                            </ul>
                            <p>Businesses who will fail to submit your Notification and Economic Substance Report on time will be given the necessary and applicable penalties. </p>

                            <h2><strong>How can we help you during this time? </strong></h2>
                            <p>In connection with the filing of the ESR notifications and ESR reports, AMCA is here to help you and your business to follow these prerequisites in efficient and professional manners. </p>
                            <p>On your behalf, AMCA will do the accompanying:</p>

                            <p><strong><a href="@Url.Action("ESRTesting", "ESRSubServices")">ESR Testing - </a> </strong>We provide an assessment whether your organization falls under the Economic Substance Regulations or not.</p>
                            <p><strong><a href="@Url.Action("ESRNotificationFiling", "ESRSubServices")">ESR Notification Filing -</a> </strong>We give assistance in preparing your ESR Notification which is needed to submit with the Authority as a part of compliance of ESR.</p>
                            <p><strong><a href="@Url.Action("ESRReport", "ESRSubServices")">ESR Report Filing - </a> </strong>We do the preparation of the ESR Report according to the prerequisite of the Ministry of Finance (MOF). </p>
                            <p><strong><a href="@Url.Action("ESRNotificationFiling", "ESRSubServices")">Resubmission of ESR Notification Filing –</a> </strong>In accordance with Article 4.4 of Ministerial Decision 100, we will help you in the resubmission of your ESR Notifications. </p>

                        </div>

                        <div class="col-md-12 writer text-right">
                            <p class="date">24 Jan 2021</p>
                            <h4><strong>Gladys Sorima</strong></h4>
                            <p>Business Advisor</p>
                        </div>
                        <div class="col-md-12">
                            <div class="fb-share-button" data-href="https://amca.ae/economic-substance-filing-date-extended-to-31-january-2021" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Famca.ae%2Feconomic-substance-filing-date-extended-to-31-january-2021&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                            <script type="IN/Share" data-url="https://amca.ae/economic-substance-filing-date-extended-to-31-january-2021">


                            </script>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 blogComments">
                                    </div>
                                </div>
                                @*<div class="col-md-12">
            <div class="col-md-12 border-comment">
                <div class="row">
                    <div class="col-md-1">
                        <img src="wimages/avtar.jpg" class="img-circle">
                    </div>
                    <div class="col-md-10">
                        <h3>Arif Ansari</h3>
                        <p>2 Days Ago</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>After reading your article, I think Chipmunk is the best solution for me. Glad to found your article on google. Thanks.</p>
                    </div>
                </div>
            </div>
        </div>*@
                                <div class="col-md-12">
                                    <h3><strong>Leave a Comment</strong></h3>
                                </div>

                                @using (Html.BeginForm("Index", "Sidebar", FormMethod.Post))
                                {
                                    <input type="hidden" id="BlogTitle" name="BlogTitle" value="@ViewBag.PageTitle" />
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control textFld", @placeholder = "Name" })
                                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "errorValidation" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.Usercomment, new { @class = "form-control textFld", @placeholder = "Positive Comment" })
                                            @Html.ValidationMessageFor(model => model.Usercomment, "", new { @class = "errorValidation" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" class="btn btnTheme pull-right" value="Submit Now">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

