@{
    ViewBag.Title = "UAE Allows Full Foreign Ownership | FDI | IPOs";
    ViewBag.PageTitle = "UAE Allows Full Foreign Ownership";
    ViewBag.Keyword = "full ownership, set up a company, foreign ownership, federal direct investment, fdi, foreign investors, foreign shareholders, limited liability company, llc, onshore, emirati, local sponsor, commercial company, local authorities, joint stock companies, IPOs, Shareholders, business setup services, company set up In UAE";
    ViewBag.Description = "As a part of the continuous effort of the government to encourage the other nationalities to set up a company and enjoy the conducive legislative environment for business in the United Arab Emirates, a decree overhauling";
    ViewBag.PageURL = "https://amca.ae/uae-allows-full-foreign-ownership";
    ViewBag.ImageURL = "https://amca.ae/wimages/uae-allows-full-foreign-ownership.jpg";
}
@section AdditionalMeta{
    <meta property='og:title' content="@ViewBag.Title" />
    <meta property='og:url' content="@ViewBag.PageURL" />
    <meta property='og:type' content='website' />
    <meta property='og:description' content="@ViewBag.Description" />
    <meta property="og:image" content="@ViewBag.ImageURL" />
    <meta property="fb:page_id" content="3058581424174487" />
}
@model amca.Models.Validation
<div class="row otherBanner aboutUs">
    <div class="container">
        <div class="col-md-12">
            <div class="captionBanner">
                <div class="servicesH">Insights</div>
                <ul>
                    <li><a href="@Url.Action("Index", "Page")">Home</a> </li>
                    <li><a href="@Url.Action("Insights", "Page")">Insights</a> </li>
                    <li>@ViewBag.PageTitle</li>
                </ul>
            </div>
        </div> <!-- end of col-md-12 -->
    </div>
</div> <!-- end of row -->
<div class="row space">
    <div class="container">
        <div class="col-md-12">
            <div class="row mobileOrder">
                @RenderPage("~/Views/Sidebar/BlogSidebar.cshtml")
                <div class="col-md-9 contentOr">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/wimages/uae-allows-full-foreign-ownership.jpg" class="img-responsive" title="@ViewBag.PageTitle" alt="@ViewBag.PageTitle" />
                        </div>
                    </div>
                    <div class="row space3">
                        <div class="col-md-12 linkingText">
                            <h1>@ViewBag.PageTitle</h1>
                            <h2>Introduction</h2>
                            <p>As a part of the continuous effort of the government to encourage the other nationalities to set up a company and enjoy the conducive legislative environment for business in the United Arab Emirates, a decree overhauling the foreign ownership rules of commercial companies has been issued by President His Highness Sheikh Khalifa bin Zayed Al Nahyan on Nov. 23.</p>

                            <p>The Federal Direct Investment (FDI) Law which was adopted in September 2018 through Federal Legislative Decree No. 19 of 2018 and an ensuring resolution by the UAE Council of Ministers No. 16 of 2020 in March 2020, amends Commercial Companies Law (CCL) No. 2 of 2015.</p>
                            <h2><strong>Under the New Rules</strong></h2>

                            <ul>
                                <li><strong>Annulment of the old requirements for the commercial company</strong><br />Aiming to attract foreign capital to the United Arab Emirates, the state annulled the requirement for onshore companies to have an Emirati shareholder. It likewise expands the opportunity for the foreign investors to operate a business anywhere in the country. </li>
                                <li><strong>Allowing full foreign ownership</strong><br />Under the existing CCL, the foreign shareholders are limited to own only 49 percent in Limited Liability Company (LLC) operating as an onshore UAE business. The law requires an Emirati individual or 100 percent Emirati-owned company to hold the 51 percent share as a local sponsor. <br />As per the Federal Direct Investment Law, an Emirati individual as sponsor, who is holding the 51 percent of the shares in the company is no longer required in several categories. The need for the local sponsor, which serves as one of the major requirements in setting up a company, has been abolished in the new law. It simply means that businesses can now be fully established by non-Emiratis of all nationalities. </li>

                                <li><strong>Level of the Local Authorities</strong><br />The local authorities remain to be responsible in determining the level of the participation of the Emiratis in any company including the Emirati’s setting up of the capital allocation. The request for approval to establish a new company, except for the joint stock companies, is also one of local authorities’ controls.</li>
                                <li><strong>Firms turn into Joint Stock Companies</strong><br />After from the approval of the relevant authorities, the firms which are intending to develop into joint stock companies can now sell as much as 70% of the company through initial public offerings, instead of the current 30%, through IPOs. </li>

                                <li><strong>Power of the Shareholders</strong><br />Now, the shareholders have the power to sue the company in the civil court if any failure of duty will result in damages.<br />If the senior executives of a company found guilty of fraud or abuse of authority, they can now be removed in the company. </li>
                                <li><strong>The Use of Electronic Voting</strong>During the annual general meetings, the use of electronic voting is now permitted under the new amendments. </li>
                            </ul>
                            <h3><strong>AMCA: Your Partner in Business Setup</strong></h3>
                            <p>The new law about the full foreign ownership is indeed a good news for the foreign investors who want to start their business in the UAE. Now, they can legally own a company without needing to have an Emirati shareholder. </p>
                            <p>AMCA does a business setup services and helps you and your business to prepare all the documents needed for it. We will enlighten you with the law related with the company setup in UAE. We will apply for a suitable operating license and submit all required documents to the authorities on your behalf. Also, we will take care of all pre-approvals, so you don’t even need to lift a finger. </p>


                        </div>
                        <div class="col-md-12 writer text-right">
                            <p class="date">10 Dec 2020</p>
                            <h4><strong>Mohammad Sharique Nadeem</strong></h4>
                            <p>Business Analyst</p>
                        </div>
                        <div class="col-md-12">
                            <div class="fb-share-button" data-href="https://amca.ae/uae-allows-full-foreign-ownership" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Famca.ae%2Fuae-allows-full-foreign-ownership&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                            <script type="IN/Share" data-url="https://amca.ae/uae-allows-full-foreign-ownership">
                            </script>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 blogComments">
                                    </div>
                                </div>
                                @*<div class="col-md-12">
            <div class="col-md-12 border-comment">
                <div class="row">
                    <div class="col-md-1">
                        <img src="wimages/avtar.jpg" class="img-circle">
                    </div>
                    <div class="col-md-10">
                        <h3>Arif Ansari</h3>
                        <p>2 Days Ago</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>After reading your article, I think Chipmunk is the best solution for me. Glad to found your article on google. Thanks.</p>
                    </div>
                </div>
            </div>
        </div>*@
                                <div class="col-md-12">
                                    <h3><strong>Leave a Comment</strong></h3>
                                </div>

                                @using (Html.BeginForm("Index", "Sidebar", FormMethod.Post))
                                {
                                    <input type="hidden" id="BlogTitle" name="BlogTitle" value="@ViewBag.PageTitle" />
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control textFld", @placeholder = "Name" })
                                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "errorValidation" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.Usercomment, new { @class = "form-control textFld", @placeholder = "Positive Comment" })
                                            @Html.ValidationMessageFor(model => model.Usercomment, "", new { @class = "errorValidation" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" class="btn btnTheme pull-right" value="Submit Now">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
