
@{
    ViewBag.Title = "Liquidation of Company";
    ViewBag.Keyword = "liquidation of company, company liquidation in dubai, liquidation dubai, company liquidation services, liquidation services in dubai, liquidation of llc company in dubai, company liquidation services in dubai, liquidation services, how to liquidate a company, business liquidation, liquidation firm";
    ViewBag.Description = "Appointment of a liquidator is the first step while closing down a business. A liquidation firm overlooks the whole process of liquidation & proceeds in a step-by-step manner.";
    ViewBag.PageURL = "https://amca.ae/liquidation-of-company";
    ViewBag.ImageURL = "https://amca.ae/wimages/Liquidation-of-Company.jpg";
}

<div class="row otherBanner aboutUs">
    <div class="container">
        <div class="col-md-12">
            <div class="captionBanner">
                <div class="servicesH">Insights</div>
                <ul>
                    <li><a href="@Url.Action("Index", "Page")">Home</a> </li>
                    <li><a href="@Url.Action("Insights", "Page")">Insights</a> </li>
                    <li>@ViewBag.Title</li>
                </ul>
            </div>
        </div> <!-- end of col-md-12 -->
    </div>
</div> <!-- end of row -->
<div class="row space">
    <div class="container">
        <div class="col-md-12">
            <div class="row mobileOrder">
                @RenderPage("~/Views/Sidebar/BlogSidebar.cshtml")
                <div class="col-md-8 contentOr">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/wimages/Liquidation-of-Company.jpg" class="img-responsive" title="Liquidation of Company" alt="Liquidation of Company" />
                        </div>
                    </div>
                    <div class="row space3">
                        <div class="col-md-12">
                            <h1>@ViewBag.Title</h1>
                            <p>A well crafted exit strategy is as important for a business as its daily operations. The decision to liquidate a company is to be taken at an appropriate time & abiding by all the legal procedures.</p>
                            <p>The call to cease operations and liquidate a company may be taken due to various factors.</p>
                            <p>Creditors or investors may voluntarily decide to wind-up due to insolvency, failure to keep up with the highly competitive market, relocation of business to another country or venture in another industry. Sometimes liquidation is done following a court order when a business is not able to pay back its creditors.</p>
                            <h2>How to liquidate a company?</h2>
                            <p>Appointment of a liquidator is the first step while closing down a business. A liquidation firm overlooks the whole process of liquidation & proceeds in a step-by-step manner. Successful completion of the following process is responsibility of the liquidator:</p>
                            <ul>
                                <li>Cancellation of trade license</li>
                                <li>Closure of Bank Accounts</li>
                                <li>Cancellation of work permit &amp; visa </li>
                                <li>Payment of all utility bills</li>
                                <li>Preparing Power of Attorney, if required</li>
                                <li>Disposal of assets</li>
                                <li>Settlement of all creditor claims</li>
                                <li>Advertising in local Arabic newspapers</li>
                                <li>Clearance Certificate from free zone/mainland authority</li>
                                <li>Ensure complete legal compliance </li>
                                <li>Final liquidation report</li>
                            </ul>
                            <p>The process of liquidation varies according to mainland or free zone authorities &amp; type of business. Non-adherence to established norms may attract further penalties &amp; put an already unstable business in jeopardy. </p>
                            <p>AMCA is an approved auditor with the Ministry of Economy &amp; authorized tax agency with  FTA . We liaise with all free zone & mainland authorities across UAE. With experience of more than 10 years, we are the leading  provider of company Liquidation Services in Dubai. Our experienced team of auditors and legal professionals assure you a hassle free liquidation.</p>
                        </div>


                        <div class="col-md-12 writer text-right">
                            <p class="date">18 July 2020</p>
                            <h4><strong>Mohammad Sharique Nadeem</strong></h4>
                            <p>Business Analyst</p>
                        </div>
                        <div class="col-md-12">
                            <div class="fb-share-button" data-href="https://amca.ae/liquidation-of-company" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Famca.ae%2Fliquidation-of-company&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                            <script type="IN/Share" data-url="https://amca.ae/liquidation-of-company">
                            </script>
                        </div>
                        @RenderPage("~/Views/Sidebar/BlogComment.cshtml")
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>