@{
    ViewBag.Title = "UAE Golden Visa | Long Term Visa | Residence Visa UAE";
    ViewBag.PageTitle = "Golden Visa UAE";
    ViewBag.Keyword = "uae golden visa, golden visa, residence visa, residence visa uae, long term visa uae";
    ViewBag.Description = "UAE Golden Visa. Who is eligible for the UAE golden visa. To apply for a10-year residence visa in the UAE the following categories are entitled";
    ViewBag.PageURL = "https://amca.ae/uae-golden-visa";
    ViewBag.ImageURL = "https://amca.ae/wimages/uae-golden-visa.jpg";
}
@section AdditionalMeta{
    <meta property='og:title' content="@ViewBag.Title" />
    <meta property='og:url' content="@ViewBag.PageURL" />
    <meta property='og:type' content='website' />
    <meta property='og:description' content="@ViewBag.Description" />
    <meta property="og:image" content="@ViewBag.ImageURL" />
    <meta property="fb:page_id" content="3058581424174487" />
}
@model amca.Models.Validation
<div class="row otherBanner aboutUs">
    <div class="container">
        <div class="col-md-12">
            <div class="captionBanner">
                <div class="servicesH">Insights</div>
                <ul>
                    <li><a href="@Url.Action("Index", "Page")">Home</a> </li>
                    <li><a href="@Url.Action("Insights", "Page")">Insights</a> </li>
                    <li>@ViewBag.PageTitle</li>
                </ul>
            </div>
        </div> <!-- end of col-md-12 -->
    </div>
</div> <!-- end of row -->
<div class="row space">
    <div class="container">
        <div class="col-md-12">
            <div class="row mobileOrder">
                @RenderPage("~/Views/Sidebar/BlogSidebar.cshtml")
                <div class="col-md-9 contentOr">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/wimages/uae-golden-visa.jpg" class="img-responsive" title="@ViewBag.PageTitle" alt="@ViewBag.PageTitle" />
                        </div>
                    </div>
                    <div class="row space3">
                        <div class="col-md-12 linkingText">
                            <h1>@ViewBag.PageTitle</h1>
                            <p>The golden visa offers residency for five or ten years, instead of the standard two-year residence visa. The Business Visa is essential for the Golden Visa system for permanent residents and foreigners to acquire a long-term visa for themselves and their dependents. </p>

                            <p>The United Arab Emirates (UAE) provide a 10-year golden visa to professionals that will incorporate physicians, engineers, Ph.Ds. who are from UAE accredited universities who have scored Grade Point Average or GPA of 3.8 or more. The intention behind giving this visa is to retain ‘skilled people and great minds’ in the country.</p>


                            <h2><strong>Can Students Apply for the UAE Golden visa? </strong></h2>
                            <p>This long-term visa is set up to attract foreign investors and ability to study and work in the UAE. Presently, it is furthermore open to PhD holders, physicians, top graduates, and technology experts who are hoping to build a life there. Remember that the standards are high; even doctors should come from one of the world’s best 500 universities with a decorated CV of awards, contributions, publications, and 10 years of experience. Concerning students, only the cream of the crop those with a base 3.75 GPA are welcome to apply for a five-year visa. Once you acquire one, these visas are automatically renewed.</p>
                            <p>School leavers with a base grade of 95% are welcome to apply for the UAE golden visa, as well. The individuals who attend university in Dubai have a greater opportunity to seek a career there since the UAE is building its future talent base with more visionaries and experts.</p>

                            <h2><strong>Who is Eligible for the Golden Card?</strong></h2>
                            <p>In May 2019, the UAE Cabinet affirmed 10-year residency visas for five categories of expatriates: entrepreneurs, investors, chief executives, scientists and outstanding students. There was no age restriction on applicants.</p>
                            <p>It was declared that executives who have a salary with Dh30,000 or more can apply for the visa as well.  The applicant ought to have a minimum bachelor’s degree or its equivalent and five years of work experience. They should also have a valid employment contract.</p>
                            <h2><strong>Eligibility for a 10-year Golden Visa</strong></h2>
                            <p>To apply for a10-year residence visa in the UAE the following categories are entitled</p>

                            <h3><strong>1-Investors in public investments </strong></h3>
                            <p>The investment may take numerous forms such as:</p>
                            <ul>
                                <li>A deposit of not less than AED 10 million in an investment fund inside the country</li>
                                <li>Establishing an organization in the UAE with a capital of at the very least AED 10 million</li>
                                <li>Partnering in an existing or a new organization with a share value of at least AED10 million</li>
                                <li>Having a total investment of at the very least AED 10 million in all areas referenced, on condition that the investment in areas other than real estate isn't less than 60 per cent of the total investment </li>
                            </ul>

                            <p><strong>Conditions</strong></p>
                            <p>Granting a visa is dependent upon the following conditions:</p>
                            <ul>
                                <li>The amount invested must not be loaned.</li>
                                <li>The investment ought to be retained for at least three years.</li>
                                <li>There ought to be  a financial solvency up to AED 10 million.</li>
                            </ul>
                            <p>Visa can be to incorporate business partners, on the prerequisite that each partner contributes AED 10 million. The long term visa can include the spouse and kids, just as one executive director and one advisor. Investors from abroad may apply for a multiple-entry grant for a six-month time period. </p>

                            <h3><strong>2-Persons with specialised talents</strong></h3>
                            <p>This includes specialized talents and researchers in the fields of science and knowledge like scientists, doctors, specialists, inventors, as well as creative people in the field of culture and art. The visa benefits extends to the spouse and children. All these categories are needed to have a valid employment contract in a specialized field of a priority in the UAE.</p>
                            <p><strong>Conditions</strong></p>
                            <p>Giving a visa is depend to the following conditions:</p>
                            <ul>
                                <li>Scientists ought to be accredited by Emirates Scientists Council or holders of the Mohammed Bin Rashid Medal for Scientific Excellence.</li>
                                <li>Creative people in culture and art should be accredited by Ministry of Culture and Knowledge Development</li>
                                <li>Inventors should obtain a patent of value, which adds to the UAE's economy. Patents should be affirmed by Ministry of Economy..</li>
                                <li>Exceptional talents should be documented by patents or a scientific research published in a world-class journal.</li>
                                <li>Executives should be owners of a leading and internationally recognized organization or holders of a high academic achievement and position.</li>
                            </ul>
                            <p><strong>Doctors and specialists should meet at least two of the following conditions:</strong></p>
                            <ul>
                                <li>A Ph. D. degree from one of the best 500 universities in the world </li>
                                <li>A certificates or an award of appreciation in the field of the applicant’s work</li>
                                <li>Contribution to a significant scientific research in the respective field of work</li>
                                <li>Scientific books  or published articles in distinguished publications in the respective field of work</li>
                                <li>Membership in an association related to the field</li>
                                <li>A Ph. D. degree, in addition to 10-year professional involvement in his field</li>
                                <li>Specialisation in spaces of priority to the UAE.</li>
                            </ul>


                            <h2><strong>Eligibility for a 5-year Golden Visa</strong></h2>
                            <p>The following categories are entitled to apply for a 5-year home visa in the UAE.</p>

                            <h3><strong>1. Investors in a property in the UAE</strong></h3>
                            <p><strong>Conditions:</strong></p>
                            <p>Allowing a visa is depend to the following conditions:</p>
                            <ul>
                                <li>The investor ought to invest in a property of a gross worth of not less than AED 5 million.</li>
                                <li>The amount invested in real estate ought not be on loan basis.</li>
                                <li>The property should be retained for at least three years.</li>
                            </ul>

                            <h3><strong>2. Entrepreneurs</strong></h3>
                            <ul>
                                <li>This classification includes those having an existing project with a minimum capital of AED 500,000, or the individuals who have the endorsement of an accredited business incubator in the country.</li>
                            </ul>
                            <p>The entrepreneur is permitted a multi-entry visa for a half year, renewable for another six months. The long-term visa includes the spouse and kids, a partner and three executives.</p>

                            <h3><strong>3. Outstanding Students</strong></h3>
                            <p>This includes:</p>
                            <ul>
                                <li>Outstanding students with a minimum grade of 95% in public and private secondary schools</li>
                                <li>University students inside and outside the country having a distinction GPA of at least 3.75 upon graduation.</li>
                            </ul>
                            <p> Long term visa includes families of the outstanding students</p>

                        </div>
                        <div class="col-md-12 writer text-right">
                            <p class="date">10 May 2021</p>
                            <h4><strong>Mohammad Sharique Nadeem</strong></h4>
                            <p>Business Analyst</p>
                        </div>
                        <div class="col-md-12">
                            <div class="fb-share-button" data-href="https://amca.ae/uae-golden-visa" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Famca.ae%2Fuae-golden-visa&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                            <script type="IN/Share" data-url="https://amca.ae/uae-golden-visa">
                            </script>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 blogComments">
                                    </div>
                                </div>
                                @*<div class="col-md-12">
            <div class="col-md-12 border-comment">
                <div class="row">
                    <div class="col-md-1">
                        <img src="wimages/avtar.jpg" class="img-circle">
                    </div>
                    <div class="col-md-10">
                        <h3>Arif Ansari</h3>
                        <p>2 Days Ago</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>After reading your article, I think Chipmunk is the best solution for me. Glad to found your article on google. Thanks.</p>
                    </div>
                </div>
            </div>
        </div>*@
                                <div class="col-md-12">
                                    <h3><strong>Leave a Comment</strong></h3>
                                </div>

                                @using (Html.BeginForm("Index", "Sidebar", FormMethod.Post))
                                {
                                    <input type="hidden" id="BlogTitle" name="BlogTitle" value="@ViewBag.PageTitle" />
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control textFld", @placeholder = "Name" })
                                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "errorValidation" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.Usercomment, new { @class = "form-control textFld", @placeholder = "Positive Comment" })
                                            @Html.ValidationMessageFor(model => model.Usercomment, "", new { @class = "errorValidation" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" class="btn btnTheme pull-right" value="Submit Now">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
