@{
    ViewBag.Title = "UAE Golden Visa | Long Term Visa | Residence Visa UAE";
    ViewBag.PageTitle = "UAE Golden Visa";
    ViewBag.Keyword = "uae golden visa, golden visa, residence visa, residence visa uae, long term visa uae";
    ViewBag.Description = "UAE Golden Visa. Who is eligible for the UAE golden visa. To apply for a10-year residence visa in the UAE the following categories";
    ViewBag.tenYearsVisa = "ActiveSubLink";
    ViewBag.Value = "UAE Golden Visa";
}
@model amca.Models.Validation

<div class="row otherBanner aboutUs lgHeight">
    <div class="container">
        <div class="col-md-12">
            <div class="captionBanner">
                <h1 class="servicesH">@ViewBag.PageTitle</h1>
                <ul>
                    <li><a href="@Url.Action("Index", "Page")">Home</a> </li>
                    <li>Services</li>
                    <li>PRO Services</li>
                    <li>VISA</li>
                    <li>UAE Golden Visa</li>
                </ul>
            </div>

        </div> <!-- end of col-md-12 -->
    </div>
</div> <!-- end of row -->

<div class="row space">
    <div class="container">
        <div class="col-md-12">
            <div class="row sidebarFull">
                @RenderPage("~/Views/Sidebar/VisaSidebar.cshtml")
                <div class="col-md-9 pagesMContain">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/wimages/10-years-golden-visa.jpg" class="img-responsive" alt="10-years-golden-visa" title="@ViewBag.PageTitle">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @RenderPage("~/Views/VisaSubServices/QueryForm.cshtml")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2><strong>UAE Golden Visa</strong></h2>
                            <p>
                                The Golden Visa allows residency for five or ten years instead of the standard two-year residence visa. In addition, the new system will enable foreigners to study,
                                work and live in the UAE without requiring a national sponsor and 100% ownership of their business on the UAE's mainland.
                            </p>


                            <h3>UAE Golden Visa Categories</h3>
                            <ul>
                                <li>Investors</li>
                                <li>Entrepreneur</li>
                                <li>Outstanding students </li>
                                <li>Specialized talents and researchers </li>
                            </ul>
                            <h2>Eligibility for a Golden Visa (10-year)</h2>
                            <p>The following categories are qualified to apply for a 10-year resident visa in the UAE.</p>
                            <h3>1-Investors in public investments</h3>
                            The investment may take numerous forms such as:
                            <ul>
                                <li>A deposit of not less than AED 10 million in an investment fund inside the country</li>
                                <li>Establishing an organization in the UAE with a capital of at the very least AED 10 million</li>
                                <li>Partnering in an existing or a new organization with a share value of at least AED10 million</li>
                                <li>
                                    Having a total investment of at the very least AED 10 million in all areas referenced, on condition
                                    that the investment in areas other than real estate isn't less than 60 per cent of the total investment
                                </li>
                            </ul>
                            <h5><strong>Conditions</strong></h5>
                            Granting a visa is dependent upon the following conditions:
                            <ul>
                                <li>The amount invested must not be loaned.</li>
                                <li>The investment ought to be retained for at least three years.</li>
                                <li>There ought to be a financial solvency up to AED 10 million.</li>
                            </ul>
                            <p>
                                Visa can be to incorporate business partners, on the prerequisite that each partner contributes AED 10 million. The long term visa can include the spouse and kids, just as one executive director and one advisor.
                                Investors from abroad may apply for a multiple-entry grant for a six-month time period.
                            </p>

                            <h4><strong>Main Requirements to apply for Investor Golden Visa:</strong></h4>
                            <ol>
                                <li>Audit Reports for last 2 years</li>
                                <li>Last 6-month Bank Statements</li>
                                <li>Real Estate License, If Applicable.</li>
                            </ol>

                            <h3>2-Persons with specialized talents</h3>
                            <p>
                                This category includes specialized talents and researchers in science and knowledge such as scientists, doctors, specialists,
                                inventors, and creative people in culture and art. In addition, the visa benefits extend to the spouse and children.
                                All these categories must have a valid employment contract in a specialized field of priority in the UAE.
                            </p>

                            <h5><strong>Conditions</strong></h5>
                            Giving a visa is depended on the following conditions:
                            <ul>
                                <li>Inventors must acquire a patent of value, which adds to the UAE's economy. Ministry of Economy should affirm patents.</li>
                                <li>Exceptional abilities should be documented by patents or scientific research published in a world-class journal.</li>
                                <li>Emirates Scientists Council or holders of the Mohammed Bin Rashid Medal for Scientific Excellence must approve the Scientists.</li>
                                <li>The Ministry of Culture and Knowledge Development must accredit the creative people in art and culture.</li>
                                <li>Executives should be the proprietors of a leading and internationally recognized company or have high academic achievement and position.</li>

                            </ul>
                            <h5><strong>Doctors and specialists should meet at least two of the following conditions:</strong></h5>
                            <ul>
                                <li>A Ph. D. degree from one of the best 500 universities in the world</li>
                                <li>A certificate or an award of appreciation in the field of the applicant’s work</li>
                                <li>Contribution to significant scientific research in the respective field of work</li>
                                <li>Scientific books or published articles in distinguished publications in the respective field of work</li>
                                <li>Membership in an association related to the field</li>
                                <li>A Ph. D. degree, in addition to 10-year professional involvement in his field</li>
                                <li>Specialization in spaces of priority to the UAE.</li>
                            </ul>

                            <h3>Latest Updates on Golden Visa ( 10-Year)</h3>
                            <h4><strong>•	UAE Golden Visa for Global Coders </strong></h4>
                            <p>
                                UAE Grants Golden Visas to 100000 Resident, Non-Resident Coders. Coders of all nationalities and age groups are qualified to apply for the UAE Golden Visa,
                                including distinguished experts and talents who have achieved success in various coding areas.
                            </p>

                            <h4><strong>•   UAE Golden Visa for High School Graduates  </strong></h4>
                            <p>
                                The UAE government has announced that outstanding high school graduates and their families would be granted Golden Visas for ten years.
                                The applicant must have received a minimum grade of 95% in high school.
                            </p>

                            <h4><strong>•	UAE Golden Visa for Doctors</strong></h4>
                            <p>
                                The UAE has announced that doctors who hold a license from the UAE Health Department can apply for a 10-year golden visa.
                                Between July 2021 and September 2022, all doctors licensed by the UAE health regulatory bodies can apply for the Golden Visa.
                            </p>

                            <h3>Eligibility for a Silver Visa(5-year)</h3>
                            <p>The following categories are entitled to apply for a silver visa(5-year) in the UAE.</p>

                            <h3>
                                1. Investors in a property in the UAE
                            </h3>
                            <h5><strong>Conditions</strong></h5>
                            <p>Allowing a visa is depended on the following conditions:</p>

                            <ul>
                                <li>The investor ought to invest in a property of a gross worth of not less than <strong>AED 5 million</strong>.</li>
                                <li>The amount invested in real estate ought not be on loan basis.</li>
                                <li>The property should be retained for at least three years.</li>
                            </ul>

                            <h3>2. Entrepreneurs</h3>
                            <ul>
                                <li>
                                    This classification includes those having an existing project with a minimum capital of <strong>AED 500,000,</strong>
                                    or the individuals who have the endorsement of an accredited business incubator in the country.
                                </li>
                            </ul>
                            <p>
                                The entrepreneur is permitted a multi-entry visa for a half year, renewable for another six months.
                                The long-term visa includes the spouse and kids, a partner and three executives.
                            </p>

                            <h3>3. Outstanding Students</h3>
                            This includes:
                            <ul>
                                <li>Outstanding students with a minimum grade of 95% in public and private secondary schools</li>
                                <li>University students inside and outside the country having a distinction <strong>GPA of at least 3.75</strong> upon graduation.</li>
                            </ul>
                            <p>Long term visa includes families of the outstanding students</p>

                            <h4><strong>
                                The following is a complete list of individuals that are eligible to apply for a Golden Visa.
                            </strong></h4>
                            <ol>
                                <br />
                                <li><strong>Doctors:</strong> Between July 2021 and September 2022, all doctors licensed by the UAE health regulatory bodies can apply for the Golden Visa.</li>
                                <br />
                                <li><strong>PhD degree holders:</strong> Professionals with a PhD will be eligible for the Golden Visa under the law.</li>
                                <br />
                                <li>
                                    <strong>Inventors:</strong> Inventors can apply for a golden visa in the UAE, but they must first get a patent of value, which adds to the UAE's economy.
                                    The Ministry of Economy must approve patents.
                                </li>
                                <br />
                                <li>
                                    <strong>Artists:</strong> Creative people in culture and art are eligible to apply for a Golden Visa.
                                    The Ministry of Culture and Knowledge Development must accredit cultural and artistic individuals.
                                </li>
                                <br />
                                <li><strong>Investors:</strong> The golden Visa is available to foreign investors who have invested Dh10 million or more.</li>
                                <br />
                                <li><strong>Engineers:</strong> Engineers from different fields are also eligible for a 10-year visa. They are as follows.</li>
                                <ul>
                                    <li>Epidemiology and Virology</li>
                                    <li>Artificial Intelligence</li>
                                    <li>Big Data </li>
                                    <li>Computer Engineering</li>
                                    <li>Electrical Engineering</li>
                                    <li>Software Engineering</li>
                                    <li>Electronics Engineering</li>
                                    <li>Genetic Engineering</li>
                                    <li>Biotechnology Engineering</li>
                                </ul>

                                <br />
                                <li><strong>Highly qualified individuals: </strong>Highly skilled persons with a GPA of 3.8 or higher from accredited universities are eligible for a 10-year visa in the UAE.</li>
                                <br />
                                <li><strong>Researchers/Scientists:</strong>This category contains scientists and researchers who are experts in their fields.</li>
                                <br />
                                <li><strong>Outstanding students: </strong>This includes,</li>
                                <ul>
                                    <li>Students with a minimum grade of 95% in public and private secondary schools</li>
                                    <li>University students within and outside the country have a distinction GPA of at least 3.75 upon graduation.</li>
                                    <li>Students with a minimum grade of 95% in high school</li>
                                </ul>
                                <br />
                                <li><strong>Entrepreneurs:</strong>This group includes those with an existing project with a minimum capital of Dh500,000 or who received approval from an accredited business incubator.</li>
                                <br />
                                <li>
                                    <strong>Executive Directors: </strong>The Golden Visa is available to executive directors who have a certified degree from the university, a minimum salary of AED
                                    50,000 and a minimum of 5 years of work experience
                                </li>
                                <br />
                                <li><strong>Coders:</strong>UAE grants Golden Visas to 100000 Resident, Non-Resident Coders. Distinguished experts and talents who have achieved success in various coding areas; those who work for pioneering International Technological Companies; and graduates of </li>
                                <ul>
                                    <li>Software engineering </li>
                                    <li>Hardware engineering </li>
                                    <li>Electrical engineering </li>
                                    <li>Computer engineering </li>
                                    <li>Big data </li>
                                    <li>Information technology</li>
                                    <li>Artificial intelligence</li>
                                    <li>Data science</li>
                                </ul>

                            </ol>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    $(document).ready(function () {
        history.pushState("", document.title, window.location.origin + "/uae-golden-visa");
         })

</script>