@{
    ViewBag.Title = "Company Liquidation in Dubai | Company Liquidation Services";
    ViewBag.Keyword = "Liquidation, winding up of a company, process of liquidation, voluntary liquidation, registered liquidator, company liquidation services, limited liability companies, free zone companies, offshore companies in uae, liquidating a company";
    ViewBag.Description = "Liquidation or winding up of a company is a process by which a company’s existence is brought to an end and its assets are distributed to claimants. The process of liquidation of company implies that the";
}

<div class="breadcrumb-section jarallax pixels-bg" data-jarallax data-speed="0.6">
    <div class="container text-center">
        <h1>Company Liquidation in Dubai</h1>
        <ul>
            <li><a href="@Url.Action("Index", "Page")">Home</a></li>
            <li><a href="@Url.Action("Liquidation", "Services")">Liquidation/De-Registration</a></li>
        </ul>
    </div>
</div>
<div class="section-block1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><strong>Liquidation</strong> or <strong>winding up of a company</strong> is a process by which a company’s existence is brought to an end and its assets are distributed to claimants. The <strong>process of liquidation</strong> of company implies that the business will cease to operate. Many factors could be the reasons why the company owners, directors and shareholders choose to shut down their businesses. The main reason why a businessman would rather choose to do a <strong>voluntary liquidation</strong> of his assets is due to trading insolvency which is the inability of the company to meet its obligations in terms of finances, reaches its fall due and/or the outstripping of the liabilities to the assets.</p>
                <br>
                <p>AMCA is a legal and <strong>registered liquidator</strong> and carries out <strong>company liquidation</strong> services for all <strong>Limited Liability Companies (LLC), free zone companies</strong> and <strong>offshore companies in UAE</strong>. We will be using our knowledge and expertise in <strong>liquidating a company</strong> and make sure to do its whole process professionally and efficiently.</p>
            </div>
        </div>
    </div>
</div>
<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-12"><img src="img/liquidation-process.jpg" alt="Liquidation Process" title="Liquidation Process" /></div>
            <div class="col-md-5 col-sm-5 col-12">
                <div class="pl-30-md">
                    <div class="section-heading mt-15">
                        <div class="icon-holder-md"><i class="icon-note-with-list-square-outlined-interface-symbol"></i></div>
                        <h4 class="semi-bold mt-30"><a href="@Url.Action("LiquidationProcess", "LiquidationService")">Liquidation Process</a></h4>
                        <p>
                            Liquidation occurs when an organization is unable to pay his obligations and consequently, selling of assets becomes the means of paying those responsibilities. A business liquidation is such a long and tedious process which requires the preparation of all relevant documents and abundant paper works, and legal formalities.
                        </p>
                    </div>
                    <a href="@Url.Action("LiquidationProcess", "LiquidationService")" class="button-md button-grey mt-20">Learn More</a>
                </div>
            </div>
        </div>
        <div class="row reverse-xs mt-70">
            <div class="col-md-5 col-sm-5 col-12">
                <div class="pr-30-md">
                    <div class="section-heading mt-15">
                        <div class="icon-holder-md"><i class="icon-note-with-list-square-outlined-interface-symbol"></i></div>
                        <h4 class="semi-bold mt-30"><a href="@Url.Action("LiquidationReport", "LiquidationService")">Liquidator’s Report</a></h4>
                        <p>
                            Being decidedly in liquidating a company, a liquidator has a wide scope of forces which empowers him to investigate which company assets are to be sold to settle the company’s debts. The liquidator takes lead of the business itself, meets the time-limit for all the paper works, keeps the authorities well-informed, settles all claims against the company, meets the directors, and prepares the
                        </p>
                    </div>
                    <a href="@Url.Action("LiquidationReport", "LiquidationService")" class="button-md button-grey mt-20">Learn More</a>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-12"><img src="img/liquidator-reports.jpg" alt="Liquidators Report" title="Liquidators Report" /></div>
        </div>
    </div>
</div>