<div class="mainSidebar">
    <ul>
        <li class="@ViewBag.LiquidationProcess"><a href="@Url.Action("LiquidationProcess", "LiquidationDeRegistrationSubServices")">Liquidation Process</a></li>
        <li class="@ViewBag.LiquidatorReport"><a href="@Url.Action("LiquidatorReport", "LiquidationDeRegistrationSubServices")">Liquidator’s Report</a></li>
    </ul>
    @RenderPage("~/Views/Sidebar/_RelatedPost.cshtml")
</div>