<div class="mainSidebar">
    <ul>
        <li class="@ViewBag.VATExciseRegistrationAssistance"><a href="@Url.Action("VATExciseRegistrationAssistance", "TaxSubServices")">VAT/Excise Registration Assistance</a></li>
        <li class="@ViewBag.VATExciseReturnFiling"><a href="@Url.Action("VATExciseReturnFiling", "TaxSubServices")">VAT/Excise Return Filing</a></li>
        <li class="@ViewBag.VATExciseReconsideration"><a href="@Url.Action("VATExciseReconsideration", "TaxSubServices")">VAT/Excise Reconsideration</a></li>
        <li class="@ViewBag.VATExciseTrainingAdvisory"><a href="@Url.Action("VATExciseTrainingAdvisory", "TaxSubServices")">VAT/Excise Training &amp; Advisory</a></li>
        <li class="@ViewBag.VATExciseAmendment"><a href="@Url.Action("VATExciseAmendment", "TaxSubServices")">VAT/Excise Amendment</a></li>
        <li class="@ViewBag.VATExciseDeRegistration"><a href="@Url.Action("VATExciseDeRegistration", "TaxSubServices")">VAT/Excise De-registration</a></li>
        <li class="@ViewBag.TaxResidenceCertificate"><a href="@Url.Action("TaxResidenceCertificate", "TaxSubServices")">Tax Residence Certificate</a></li>
    </ul>
</div>


