@{
    ViewBag.Title = "Terms and Conditions | Business setup dubai | Business Setup UAE";
    ViewBag.PageTitle = "Terms and Conditions";
    ViewBag.Keyword = "amca terms and conditions, amca conditions, amca policy , amca terms";
    ViewBag.Description = "Dubai Office: Mazaya Business Avenue BB2, Unit 805, 806,807 , 8th Floor DMCC, Dubai, UAE | Unit no 304, RAK Bank Building Sheikh Zayed Road, Dubai, UAE, P.O Box 117346";

}
@using CaptchaMvc.HtmlHelpers;
@model amca.Models.Validation
<div class="row otherBanner aboutUs lgHeight">
    <div class="container">
        <div class="col-md-12">
            <div class="captionBanner">
                <h1 class="servicesH">@ViewBag.PageTitle</h1>
                <ul>
                    <li><a href="@Url.Action("Index", "Page")">Home</a> </li>
                    <li>Terms and Condiitons</li>
                </ul>
            </div>
        </div> <!-- end of col-md-12 -->
    </div>
</div> <!-- end of row -->
<div class="row space">
    <div class="container">
        <div class="col-md-12">
            <h3 class="middle-heading">
                Terms & Conditions
            </h3>
            <p>
                Welcome to AMCA, an online platform by <a href="@Url.Action("Index", "Page")" class="@ViewBag.Index"> AMCA Accounting and Business Advisors DMCC   </a>   that provides multiple services, as mentioned on the website. Please read the following terms and conditions carefully, as they govern your use of our website and any services we provide.
            </p>

            <p>
                <ul class="Mtop-20">
                    <li style="list-style:upper-greek;">
                        <b>Acceptance of Terms </b> <br />
                        <span>You agree to be bound by the terms and conditions outlined in this policy by accessing or using our website.</span>
                    </li>
                    <li class="Mtop-20" style="list-style:upper-greek;">
                        <b>Intellectual Property    </b> <br />
                        <span>All content and materials on our website, including but not limited to text, graphics, logos, images, videos, and software, are owned by or licensed to us and are protected by applicable intellectual property laws. Accordingly, you may not copy, reproduce, distribute, or create derivative works from our content or materials without our prior written consent.</span>
                    </li>
                    <li class="Mtop-20" style="list-style:upper-greek;">
                        <b>Use of Website</b> <br />
                        <span>You may use our website for lawful purposes only. You agree not to use our website in any way that violates applicable laws or regulations or infringes on the rights of others. You also agree not to use our website to transmit viruses or other harmful code.</span>
                    </li>
                    <li class="Mtop-20" style="list-style:upper-greek;">
                        <b>Limitation of Liability</b> <br />
                        <span>We disclaim any and all warranties with respect to our website and the services we provide. The company assumes no responsibility for any damages arising from the use of its website or any services it provides, including but not limited to direct, indirect, incidental, punitive, and consequential damages.</span>
                    </li>
                    <li class="Mtop-20" style="list-style:upper-greek;">
                        <b>Governing Law</b> <br />
                        <span>  You agree to be bound by the terms and conditions outlined in this policy by accessing or using our website.</span>
                    </li>
                    <li class="Mtop-20" style="list-style:upper-greek;">
                        <b>Changes to Policy</b> <br />
                        <span>We reserve the right to modify or update this policy at any time. Therefore, you should check this policy periodically to ensure that you are aware of any changes.</span>
                    </li>
                    <li class="Mtop-20" style="list-style:upper-greek;">
                        <b>Contact Information</b> <br />
                        <span>If you have any questions or comments about this policy or our website, please contact us at info@amca.ae</span>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<style type="text/css">
    .Mtop-20
    {
        padding-top :20px;
    }
</style>
<script>
    $(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });

    $(document).ready(function () {
        $("select").prop('class', 'selectpicker form-control');
        $("select").attr('data-live-search', true);
    });
    document.getElementById('captcha').getElementsByTagName("input")[1].classList.add("form-control");
    document.getElementById('captcha').getElementsByTagName("input")[1].classList.add("textFld");
    setTimeout(function () {
        document.getElementById('captcha').getElementsByTagName("a")[0].removeAttribute("href");
    }, 500);




</script>
