@{
    ViewBag.Title = "Content Writer | Jobs in Dubai";
    ViewBag.PageTitle = "Content Writer";
    ViewBag.Keyword = "content writer, article writing, freelance writer, write an article, seo writing, content writing services, freelance content writer, seo content writing, website content writer, web content writing, write articles for money, blog writing services, content writing agency, freelance writing websites, freelance writing sites, technical content writer, article writing services, writing for the web, content writing company, writing a blog post, seo content writing services, writing a newspaper article, seo article writing, content writing for beginners";
    ViewBag.Description = "We are looking for a talented Content Writer to join our team. Job Description: Writing clear marketing copy to promote our services, Preparing well-structured drafts using Content Management Systems";
    ViewBag.ContentWriter = "ActiveSubLink";
    ViewBag.Value = "Content Writer";
}

@model amca.Models.ExperienceDesignation
<div class="row otherBanner aboutUs lgHeight">
    <div class="container">
        <div class="col-md-12">
            <div class="captionBanner">
                <h1 class="servicesH">@ViewBag.PageTitle</h1>
                <ul>
                    <li><a href="@Url.Action("Index", "Page")">Home</a> </li>
                    <li><a href="@Url.Action("ExperiencedCareerRoles", "Career")">Experienced career roles</a></li>
                    <li>@ViewBag.PageTitle</li>
                </ul>
            </div>
        </div> <!-- end of col-md-12 -->
    </div>
</div> <!-- end of row -->
<div class="row space sidebarFull">
    <div class="container">
        <div class="col-md-3 sidebarHalf">
            @RenderPage("~/Views/Sidebar/CareerSidebar.cshtml")
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h3><strong>We are looking for a talented Content Writer to join our team.</strong></h3>
                </div>
                <div class="col-md-12 jobDesc">
                    <h4 class="subHeading"><strong>Job Description:</strong></h4>
                    <ul>
                        <li>Writing clear marketing copy to promote our services</li>
                        <li>Preparing well-structured drafts using Content Management Systems</li>
                        <li>Performing proofreading and editing blog posts before publication</li>
                        <li>Coordinating with marketing and design teams to illustrate articles</li>
                        <li>Using SEO guidelines to increase web traffic</li>
                        <li>Ensuring all-around consistency (style, fonts, images, and tone)</li>
                        <li>Updating website content as needed</li>
                        <li>Evaluating analytics to adjust content as needed</li>
                        <li>Conducting in-depth research on industry-related topics to develop original content.</li>
                        <li>Developing content for blogs, articles, product descriptions, social media, and the company website</li>
                        <li>Editing and polishing existing content to improve readability</li>
                        <li>Creating compelling headlines and body copy that will capture the attention of the target audience</li>
                        <li>Utilizing the industry's best practices and familiarity with the organization's mission to inspire ideas and content</li>
                        <li>Developing related content for multiple platforms, such as websites, email marketing, product descriptions, videos, and blogs</li>
                        <li>Communicating and cooperating with web publishers</li>
                        <li>Ensuring timely delivery of all materials</li>
                    </ul>
                    <br />
                    @using (Html.BeginForm("SubmitJob", "ExperiencedCareerRoles", FormMethod.Post, new { @class = "primary-form mt-3" }))
                    {
                        @Html.HiddenFor(model => model.JobTitle, new { @class = "form-control textFld", @readonly = "readonly", @ViewBag.Value })
                        <input type="submit" class="btn btnTheme mr0" value="Apply for this position">
                    }
                </div>
            </div>
        </div>
    </div>
</div>



