@{
    ViewBag.Title = "Telesales Executive | Jobs in Dubai";
    ViewBag.PageTitle = "Telesales Executive";
    ViewBag.Keyword = "telesales executive, telesales executive job description, telesales executive jobs, telesales executive meaning, telesales executive meaning in hindi, telemarketing executive job, telesales executive roles and responsibilities, telesales executive job responsibilities, telesales executive duties, job description for telemarketing executive, telesales executive job role, roles and responsibilities of telesales execut, role of telesales executive";
    ViewBag.Description = "We are looking for a Telesales Executive having Outbound Experience in Telesales from any industry. Preferably a Female Kabayan (Filipino)";
    ViewBag.TelesalesExecutive = "ActiveSubLink";
    ViewBag.Value = "Telesales Executive";
}

@model amca.Models.ExperienceDesignation

<div class="row otherBanner aboutUs lgHeight">
    <div class="container">
        <div class="col-md-12">
            <div class="captionBanner">
                <h1 class="servicesH">@ViewBag.PageTitle</h1>
                <ul>
                    <li><a href="@Url.Action("Index", "Page")">Home</a> </li>
                    <li><a href="@Url.Action("ExperiencedCareerRoles", "Career")">Experienced career roles</a></li>
                    <li>@ViewBag.PageTitle</li>
                </ul>
            </div>
        </div> <!-- end of col-md-12 -->
    </div>
</div> <!-- end of row -->
<div class="row space sidebarFull">
    <div class="container">
        <div class="col-md-3 sidebarHalf">
            @RenderPage("~/Views/Sidebar/CareerSidebar.cshtml")
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h3>We are looking for a <strong>Telesales Executive</strong> having Outbound Experience in Telesales from any industry.</h3>
                    
                </div>
                <div class="col-md-12 jobDesc">
                    <h4 class="subHeading"><strong>Qualifications:</strong></h4>
                    <ul>
                        <li>Should be energetic with a friendly demeanor</li>
                        <li>Should have excellent communication and rapport-building skills</li>
                        <li>Should have a positive and confident</li>
                        <li>Should be a FRESHER in the UAE</li>
                        <li>Should have a background in Sales, Telesales, BPO Industry, and Outbound calls</li>
                        <li>Should be proficient in English</li>
                    </ul>
                    <h4 class="subHeading"><strong>Job Descriptions</strong></h4>
                    <ul>
                        <li>Closing sales deals over the phone and maintaining good customer relationships.</li>
                        <li>Gathering data & generating leads. Capable of achieving the monthly target.</li>
                        <li>Demonstrating eagerness to learn.</li>
                        <li>Entering and updating customer information in the database.</li>
                        <li>Willing to go the “extra mile” to meet sales quota and facilitate future sales.</li>
                        <li>Keeping records of calls and sales and noting helpful information.</li>
                        <li>Maintaining database by entering, verifying, and backing-up data.</li>
                        <li>Manifesting excellent communication and presentation skills</li>
                        <li>Having excellent communication and interpersonal skills</li>
                        <li>Exhibiting confidence in presenting the products over the phone and maintaining customer relationships</li>
                        <li>Contacting potential or existing customers to inform them about the product or service using scripts</li>
                        <li>Answering queries about the services of the company and about the company itself</li>
                        <li>Asking questions to understand customer requirements and close sales.</li>
                        <li>Handling grievances to preserve the company’s reputation</li>
                    </ul>
                    <h4 class="subHeading"><strong>Industry</strong></h4>
                    <ul>
                        <li>Management Consulting</li>
                        <li>Financial Services</li>
                        <li>Accounting</li>
                    </ul>
                    <h4 class="subHeading"><strong>Employment Type:</strong></h4>
                    <ul>
                        <li>Full-time</li>
                    </ul>
                    <br />
                    @using (Html.BeginForm("SubmitJob", "ExperiencedCareerRoles", FormMethod.Post, new { @class = "primary-form mt-3" }))
                    {
                        @Html.HiddenFor(model => model.JobTitle, new { @class = "form-control textFld", @readonly = "readonly", @ViewBag.Value })
                        <input type="submit" class="btn btnTheme mr0" value="Apply for this position">
                    }
                </div>
            </div>
        </div>
    </div>
</div>



